/***Pagina Principal Index ***/

/*** Corpo da pagina ***/
body {
    margin: auto;
    background-color: #f6cca5;

}

/*** Cabecalho ***/
.cabecalho {
    background-color: #f6cca5;
    max-height: 200px;
    min-height: 0px;
    height: 180px;
    /*border-bottom: 10px solid #792a49;*/


}

.tituloCabecalho {
    margin: 0;
    padding: 2.5%;
    text-align: center;
    font-size: 300%;
    color: #000000;

}

.logo {
    float: right;
    margin-right: 15%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

}

.logoEsquerda {
    float: left;
    margin-left: 15%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#InverteImagemEsquerda {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#InverteImagemDireita {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/***Menu***/

nav {
    clear: both;
    width: 80%;
    margin: 0px auto;
    height: 40px;
}

nav a {
    color: #000000;
    text-decoration: none;
    text-align: center;
}

nav .opcao_menu {
    float: left;
    width: 31.3%;
    background-color: #792a49;
    color: #ffffff;
    padding: 5px 0;
    margin: 0 1%;
    border-radius: 15px;
    font-size: 26px;
}

nav .opcao_menu:hover {
    background-color: #4e1f3c;
}

/*** Section ***/

section {
    clear: both;
    min-height: 60px;
    width: 100%;
    margin-top: 0px;

}

section .tituloDaSecao {
    font-size: 26px;
    text-align: center;
}

section .textoDeSecao {
    font-size: 18px;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}



/*** Rodape ***/

footer {
    text-align: center;
    margin-top: 263px;
    margin-bottom: 0px;
    background-color: #792a49;
    color: #ffffff;
    padding: 10px;
}


/*** Paginas Raças ***/

.imagemCard {
    width: 290px;
    height: 290px;
    background-color: #f6cca5;
}

.imagemCardVirada {
    width: 290px;
    height: 290px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-color: #f6cca5;
}

.card {
    width: 300px;
    background-color: #792a49;
    border-radius: 10px;
    border: 5px solid #792a49;
}

.item {
    text-align: center;
    font-size: 25px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card:hover {
    background-color: #4e1f3c;
}

.tituloCard {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

}

.informacaoCard {
    font-size: 20px;
    text-align: justify;
    color: #ffffff;
}


/*** Pagina de Formularios ***/

.formulario {
    width: 300px;
    margin: 0px auto;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 5px solid #792a49;
}

.formulario input, .formulario textarea, .formulario select{
    margin: 5px auto;
    width: 100%;
    padding: 5px 0;
} 

.formulario textarea{
    height: 100px;
    resize: none;
}

.formulario button{
    width: 30%;
    margin: 0 10%;
    background-color: #792a49;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;

}