/***Pagina Principal Index ***/
:root{
  --cor-backgroudpagina :#DCD7C9;
  --cor-borda:#2C3639;
  --cor-textobase:#000000;
  --cor-menusecards:#ffffff;
  --cor-hover:#3F4E4F;


}

/*{
    padding: 0;
    margin: 0;
}*/

/*** Corpo da pagina ***/
body {
    margin: auto;
    background-color: var(--cor-backgroudpagina);
    max-width: auto;
    

}

/*** Cabecalho ***/
.cabecalho {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    height: 270px;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
}

.tituloCabecalho {
    /*margin: 0;*/
    padding: 2.5%;
    text-align: center ;
    font-size: 200%;
    color: var(--cor-textobase);

}

.logo {
    /*float: right;
    margin-right: 15%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;*/
    width: 260px;
    height: 260px;
    background-color: var(--cor-backgroudpagina);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.logoEsquerda {
   /* float: left;
    margin-left: 15%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;*/
    width: 260px;
    height: 260px;
    background-color: var(--cor-backgroudpagina);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}




/***Menu***/

nav {
    clear: both;
    width: 80%;
    margin: 0px auto;
    height: 40px;
}

nav a {
    color:var(--cor-textobase);
    text-decoration: none;
    text-align: center;
}

nav .opcao_menu {
    float: left;
    width: 31.3%;
    background-color: var(--cor-borda);
    color: var(--cor-menusecards);
    padding: 5px 0;
    margin: 0 1%;
    border-radius: 15px;
    font-size: 26px;
}

nav .opcao_menu:hover {
    background-color: var(--cor-hover);
}

/*** Section ***/

section {
    clear: both;
    min-height: 60px;
    width: 100%;
    margin-top: 0px;

}

section .tituloDaSecao {
    font-size: 26px;
    text-align: center;
}

section .textoDeSecao {
    font-size: 18px;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}



/*** Rodape ***/

footer {
    text-align: center;
    margin-top: 263px;
    margin-bottom: 0px;
    background-color: var(--cor-borda);
    color: var(--cor-menusecards);
    padding: 10px;
}


/*** Paginas Raças ***/

.imagemCard {
    width: 240px;
    height: 240px;
    background-color: var(--cor-backgroudpagina);
}

.imagemCardVirada {
    width: 240px;
    height: 240px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-color: var(--cor-backgroudpagina);
}

.card {
    width: 300px;
    background-color: var(--cor-borda);
    border-radius: 10px;
    border: 5px solid var(--cor-borda);
}

.item {
    text-align: center;
    font-size: 25px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card:hover {
    background-color: var(--cor-hover);
}

.tituloCard {
    text-align: center;
    color: var(--cor-menusecards);
    text-transform: uppercase;

}

.informacaoCard {
    font-size: 20px;
    text-align: justify;
    color: var(--cor-menusecards);
}


/*** Pagina de Formularios ***/

.formulario {
    width: 300px;
    margin: 0px auto;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 5px solid var(--cor-borda);
}

.formulario input,
.formulario textarea,
.formulario select {
    margin: 5px auto;
    width: 100%;
    padding: 5px 0;
}

.formulario textarea {
    height: 100px;
    resize: none;
}

.formulario button {
    width: 30%;
    margin: 0 10%;
    background-color: var(--cor-borda);
    color: var(--cor-menusecards);
    font-size: 16px;
    font-weight: bold;

}

.formularioRadio {
    width: 300px;
    margin: 0px auto;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 5px solid var(--cor-borda);
    text-align: -webkit-center;

}

.formularioAssociacao {
    width: 300px;
    margin: 0px auto;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 5px solid var(--cor-borda);
    text-align: -webkit-center;

}