/***Pagina Principal Index ***/

/*** Corpo da pagina ***/
body {
    margin: auto;
    background-color: #f6cca5;

}

/*** Cabecalho ***/
.cabecalho {
    background-color: #f6cca5;
    max-height: 200px;
    min-height: 0px;
    height: 180px;
    /*border-bottom: 10px solid #792a49;*/


}

.tituloCabecalho {
    margin: 0;
    padding: 2.5%;
    text-align: center;
    font-size: 300%;
    color: #000000;

}

.logo {
    float: right;
    margin-right: 15%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

}

.logoEsquerda {
    float: left;
    margin-left: 15%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#InverteImagemEsquerda {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#InverteImagemDireita {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/***Menu***/

nav {
    clear: both;
    width: 80%;
    margin: 0px auto;
    height: 40px;
}

nav a {
    color: #000000;
    text-decoration: none;
    text-align: center;
}

nav .opcao_menu {
    float: left;
    width: 31.3%;
    background-color: #792a49;
    color: #ffffff;
    padding: 5px 0;
    margin: 0 1%;
    border-radius: 15px;
    font-size: 26px;
}

nav .opcao_menu:hover {
    background-color: #4e1f3c;
}

/*** Section ***/

section {
    clear: both;
    min-height: 60px;
    width: 100%;
    margin-top: 0px;

}

section .tituloDaSecao {
    font-size: 26px;
    text-align: center;
}

section .textoDeSecao {
    font-size: 18px;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}



/*** Rodape ***/

footer {
    text-align: center;
    margin-top: 263px;
    margin-bottom: 0px;
    background-color: #792a49;
    color: #ffffff;
    padding: 10px;
}


/*** Paginas Raças ***/

.imagemCard {
    width: 250px;
    height: 250px;

}

.imagemCardVirada {
    width: 250px;
    height: 250px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.card {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    border: 3px solid #445674;
}

.card:hover {
    background-color: #000000;
    color: white;
    transition: all .3s;
    -webkit-box-shadow: 4px 6px 32px 3px rgba(226, 0, 0, 0.75);
    -moz-box-shadow: 4px 6px 32px 3px rgba(240, 10, 10, 0.75);
    box-shadow: 4px 6px 32px 3px rgba(243, 3, 3, 0.75);
}

.item {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: fantasy;
    text-transform: uppercase;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.flipper{
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.cards:hover .flipper{
	transform: rotateY(180deg);
}